<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="simulator1" value="Hunger Games"/>
    <add key="simulator2" value="Prison Break"/>
    <add key="simulator3" value="Star Wars"/>
  </appSettings>

</configuration>